server:
  port: 8761

spring:
  application:
    name: eureka-server

# This tells Eureka it's a standalone server
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    wait-time-in-ms-when-sync-empty: 0